*,
    *:after,
    *:before {
        box-sizing: border-box;
    }

.nav  {
  border: 2px solid;
  background-color: #FFB4B0;
  height: 50px;
  width: 975px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.view {
  border-right: 2px solid;
  padding-right: 7px;
}
.add {
  border-right: 2px solid;
  padding-right: 7px;
}

.nav li {
  list-style: none;
  display: inline-block;
  padding: 1px;
  margin-top: 15px;
}

.header1 {
  float: left;
  margin-top: 32px;
  margin-left: 20px
}

.header2 {
  float: left;
  margin-left: 20px
}

.checkboxes {
  text-align: left;
  padding-top: 20px;

}

.leftbuttons {
  float: left;
  margin-left: 20px;
}

.rightbuttons {
  float: right;
  padding-top: 0px;
  margin-right: 40px;
}

.lcd li {
  list-style: none;
  display: inline-block;
  border-right: 2px solid;
  padding: 0 14px;
}
.jenny li {
  list-style: none;
  display: inline-block;
  border-right: 2px solid;
  padding: 0 14px;
}
.chairlift li {
  list-style: none;
  display: inline-block;
  border-right: 2px solid;
  padding: 0 14px;
}
.belle li {
  list-style: none;
  display: inline-block;
  border-right: 2px solid;
  padding: 0 14px;
}

#songList {
  
  margin-left: 50px;
  background-color: #FEFAC0;
  border: 2px solid;
  width: 760px;
  padding-left: 20px;
  font-family: sans-serif;
  float: left;
  /*position: relative;*/
  margin-right: auto;
}

.slidertitle {
  margin: 10px 75px 10px 0;
}

#slider {
  margin-right: 30px
}

.dropdowns {
  float: left;
  margin-left: 50px;
  margin-right: -40px;
  
  /*position: relative;*/
  text-align: right;
  border: 2px solid;
  background-color: #4DD7FA;
  padding-right: 5px;
  height: 363px;
  width: 205px
}

.artists {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 10px
  width: 200px;
  display: inline-block;
}

.albums {
  width: 150px;
  display: inline-block;
  padding: 300px; 
}

a:active {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}