*,
    *:after,
    *:before {
        box-sizing: border-box;
    }

.nav  {
  border: 2px solid;
  background-color: #FFB4B0;
  height: 50px;
  width: 975px;
  margin-left: 50px;
}

.nav li {
  list-style: none;
  display: inline-block;
  margin: 0 5px 10px 5px
}

.break {
  font-size: x-large;
}
.header1 {
  float: left;
  margin-top: 32px;
  margin-left: 20px
}

.header2 {
  float: left;
  margin-left: 20px;
}

.checkboxes {
  margin-top: 10%;
  padding-top: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.genre {
  margin-right: 130px;
}

.leftbuttons {
  margin-bottom: 15px;
  display: inline-block;
  margin-right: 15px;
}

.rightbuttons {
  display: inline-block;
}

.filter {
  margin-right: 70px;
  width: 40%;
  height: 7%;
 }


.songSection p {
  list-style: none;
  display: inline-block;
  /*border-right: 2px solid;*/
  padding: 0 14px;
}

/*.jenny li {
  list-style: none;
  display: inline-block;
  border-right: 2px solid;
  padding: 0 14px;
}
.chairlift li {
  list-style: none;
  display: inline-block;
  border-right: 2px solid;
  padding: 0 14px;
}
.belle li {
  list-style: none;
  display: inline-block;
  border-right: 2px solid;
  padding: 0 14px;
}*/

#songList {

  margin-left: 50px;
  background-color: #FEFAC0;
  border: 2px solid;
  width: 760px;
  padding-left: 20px;
  font-family: sans-serif;
  float: left;
  margin-right: auto;
  overflow: auto;
  max-height: 363px;
}

.slidertitle {
  margin: 10px 95px 10px 0;
}

#slider {
  margin-right: 20px;
  width: 75%;
}

.dropdowns {
  float: left;
  margin-left: 50px;
  margin-right: -40px;
  text-align: right;
  border: 2px solid;
  background-color: #4DD7FA;
  padding-right: 5px;
  height: 363px;
  width: 205px
}

.artists {
  margin-bottom: 30px;
  margin-left: 10px;
  width: 170px  ;
  display: inline-block;
}

.albums {
  width: 170px;
  display: inline-block;
}


a:active {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}
/*
.background {
  display: inline;
  list-style-type: none;
  margin: 30px 15px 0 15px;
  /*background-color: goldenrod;*/


.visible {
  display: block;
}

.hidden {
  display: none;
}

/*body {
  font-size: 2em;
}*/